.div-box {
  width: 100px;
  height: 100px;
  background-color: black;
  color: white;
}
.box-area-1depth {
  display: flex;
  justify-content: space-between;
}
.box-area-2depth {
  display: flex;
  flex-direction: row;
}
.margin5 {
  margin-right: 5px;
}