body {
  margin: 0;
}
.div-box {
  width: 100px;
  height: 100px;
  color: white;
  position: relative;
}
.black {
  background-color: black;
}
.gray {
  background-color: gray;
  left: 50px;
  bottom: 50px;
}
